<a name="active-trackers"></a>
<section class="item-screen">
  
  <!-- parallax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="parallax parallax-window" 
    data-parallax="scroll" 
    data-image-src="images/parallax/active-trackers.jpg">
    
    <div class="parallax-title">
      <img src="images/svg/active.svg">
      <br />
      Годы совершенствования ради возможности стать твоим персональным тренером #Превосходство
    </div>
  </div><!-- parallax -->
  <div class="dark-layer"></div>

  <!-- text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="container">
    <div class="row item-text">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Фитнес-браслеты для активных тренировок
        </h2>

        <p>
          Тренируйся с большей отдачей и прогрессируй быстрей вместе с продвинутыми возможностями этих фитнес-трекеров, Датчики движения и высоты, а также встроенный пульсометр соберут всю необходимую информацию, которая будет доступна на экране прямо во время тренировки, а также в фирменном приложении на твоем смартфоне. Анализируй количество шагов и пройденную дистанцию, сожженные калории и качество сна, получай полезные советы, ставь новые цели и делись своими достижениями с друзьями. Созданные для жизни, эти устройства станут твоим решающим преимуществом в любом соревновании.
        </p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <a name="active-trackers-table"></a>
  <div class="container items">
    <div class="row">
      
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Withings Pulse 02.png">
        </div>
        <p class="item-title">
          Withings Pulse 02
        </p>
        <p class="item-text">
          Фитнес-трекер, пульсометр и измеритель уровня кислорода в крови - все это в суперкомпактном корпусе весом всего 8 грамм.
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Шаги
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дистанция
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Подсчет ступенек
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Израсходованные калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Пульсометр
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик уровня кислорода в крови
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Трекер активности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Контоль сна
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Умный будильник
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Личные цели
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник питания
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическая
              беспроводная синхронизация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Bluetooth® 4.0 LE
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Уведомления о входящих вызовах
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Брызгозащита
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик высоты
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              OLED, сенсорный с подсветкой
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Встроенный Li-Polymer аккумулятор
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              до 14 дней
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#0B5BA2</span>
              <span class="color">#000000</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              8 грамм
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              iOS, Android
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows Vista/7/8, Mac OS X 10.6+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Интеграция с соцсетями
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Автоповорот экрана
                </li>
                <li>
                  Ношение на руке и в кармане
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Клипса для ношения в кармане
                </li>
                <li>
                  Браслет для ношения на руке
                </li>
                <li>
                  Зарядный USB-кабель
                </li>
                <li>
                  Краткое руководство
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="http://www2.withings.com/us/en/products/pulse/">
                http://www2.withings.com/us/en/products/pulse/
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://4wearables.ru/2014/06/02/withings-pulse-o2-%D0%BB%D0%B5%D0%B3%D0%BA%D0%B8%D0%B9-%D0%B8-%D1%81%D1%82%D0%B8%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BF%D1%83%D0%BB%D1%8C%D1%81%D0%BE%D0%BC%D0%B5%D1%82%D1%80-%D1%87%D0%B0%D1%81%D1%8B/">
            4wearables.ru: Withings Pulse O2 — легкий и стильный пульсометр-часы 
          </a>
          <a href="http://www.mobile-review.com/articles/2013/withings-pulse.shtml">
            Mobile-review.com: Обзор умного шагомера Withings Pulse 
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/bXYkHA80H5c" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/9EUf2VFiLMw" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->

        <p class="item-title item-second-name">
          Withings Pulse 02
        </p>

        <a href="#" class="button outline green large">
          Купить за 8 990 руб.
        </a>
      </div><!-- col -->
    
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Fitbit Charge HR.png">
        </div>
        <p class="item-title">
          Fitbit Charge HR
        </p>
        <p class="item-text">
          Продвинутая версия популярного фитнес-трекера Fitbit Charge с запатентованной технологией измерения пульса PurePulse
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Шаги
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дистанция
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Подсчет ступенек
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Израсходованные калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Пульсометр
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик уровня кислорода в крови
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Трекер активности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Контоль сна
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Умный будильник
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Личные цели
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник питания
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическая
              беспроводная синхронизация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Bluetooth® 4.0 LE
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Уведомления о входящих вызовах
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Брызгозащита
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик высоты
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              OLED, сенсорный с подсветкой
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Встроенный Li-Polymer аккумулятор
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              5-7 дней
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              S (140-170 мм)
              L (161-200 мм)
              XL (198-230 мм)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#4A717F</span>
              <span class="color">#2671B2</span>
              <span class="color">#BA2F65</span>
              <span class="color">#000000</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              21 грамм
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              iOS, Android, Windows Phone
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows Vista/7/8, Mac OS X 10.6+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Интеграция с соцсетями
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Интеграция с умными весами 
                </li>
                <li>
                  Индикация звонящего Caller ID
                </li>
                <li>
                  Система мотивации и персональных достижений
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Зарядное устройство
                </li>
                <li>
                  Bluetooth-адаптер для ПК
                </li>
                <li>
                  Руководство пользователя
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="https://www.fitbit.com/charge">
                https://www.fitbit.com/charge
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://www.smartwatchpro.ru/fitbit-charge-hr-%D0%BF%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B1%D0%B7%D0%BE%D1%80-%D1%81-%D0%BF%D1%80%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%81%D1%82%D0%B8%D0%B5%D0%BC/">
            Smartwatchpro.ru: Fitbit Charge HR – полный обзор с пристрастием  
          </a>
          <a href="http://www.mobile-review.com/articles/2015/fitbit-charge-hr.shtml">
            Mobile-review.com: Обзор умного шагомера FitBit Charge HR 
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/VXFzHyFksWQ" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/A7Y3kUl0N2Q" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->
        
        <p class="item-title item-second-name">
          Fitbit Charge HR
        </p>

        <a href="#" class="button outline green large">
          Купить за 11 490 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
    
    <!-- show table row ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-show-table">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 items-show-table-button">
        <a href="#active-trackers-table" class="reveal">
          Расскрыть таблицу характеристик, обзоры и видео
        </a>
        <a href="#active-trackers-table" class="unreveal">
          Скрыть таблицу характеристик, обзоры и видео
        </a>
      </div><!-- col -->
    </div><!-- show table row -->
    
    <!-- price ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-buy-buttons">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 8 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 11 490 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
  
  <!-- get all ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="get-all">
    <span class="button outline blue large"
       data-toggle="modal" data-target="#myModal">
      <img src="images/products/Withings Pulse 02.png">
      <span class="plus">+</span>
      <img src="images/products/Fitbit Charge HR.png">
      <span class="buy-title">
        Тест на 2 дня с доставкой за 799 рублей
      </span>
    </span>
    
    <div class="about-delivery">
      или <a href="#rules">бесплатно</a> при покупке
    </div>
  </div>

</section>