<a name="cardio"></a>
<section class="item-screen">
  
  <!-- parallax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="parallax parallax-window" 
    data-parallax="scroll" 
    data-image-src="images/parallax/bike.jpg">
    
    <div class="parallax-title">
      <img src="images/svg/heart.svg">
      <br />
      Выжать максимум из каждой тренировки
      <br />
      #Пульс
    </div>
  </div><!-- parallax -->
  <div class="dark-layer"></div>

  <!-- text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <a name="cardio-table"></a>
  <div class="container">
    <div class="row item-text">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Кардиомониторы
        </h2>

        <p>
          Эффективный кардиомонитор для интенсивных тренировок позволит вам поддерживать нагрузку и контролировать свой прогресс, избегая опасности переутомлений. Встроенные возможности фитнес-трекера превращают эти устройства в универсальных помощников для интенсивных занятий спортом.
        </p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="container items">
    <div class="row">
      
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Mio Fuse.png">
        </div>
        <p class="item-title">
          Mio Fuse
        </p>
        <p class="item-text">
          Последняя разработка от компании-эксперта в области спортивных кардиомониторов и  фитнес-трекеров.
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик пульса
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Встроенный, оптический
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Точность измерения пульса
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              99% или ± 1 удар в минуту
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Установка целевой зоны пульса
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Среднее значение пульса за тренировку
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник тренировок
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка разных видов спорта
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Фитнес-трекер
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение уровня функциональной подготовки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Акселерометр
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Синхронизация данных
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Bluetooth® 4.0 LE, ANT+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              30м
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Рабочая температура
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              от +5°C до +45°C
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Светодиодная матрица
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Встроенный Li-Polymer аккумулятор
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              до 7 дней (при ежедневных тренировках в 1 час)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Средний (149-179 мм)
              Большой (156 -208 мм)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#1FEAE9</span> (средний размер)
              <span class="color">#7D1819</span> (большой размер)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              от 38 до 39 грамм
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              iOS, Android
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows XP/Vista/7/8, Mac OS X 10.5+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Совместимость с >250 устройств - 
                  <a href="http://www.thisisant.com/directory/mio-link/">
                    полный список
                  </a>
                </li>
                <li>
                  Два режима работы - весь день и тренировка
                </li>
                <li>
                  Встроенные возможности фитнес-трекера
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Инструкция пользователя
                </li>
                <li>
                  Крепления
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="http://www.mioglobal.com/Product.aspx?ProductID=30">
                http://www.mioglobal.com/Product.aspx?ProductID=30
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://www.3dnews.ru/911989">
            3DNews: Обзор фитнес-браслета Mio Fuse: базовые потребности  
          </a>
          <a href="http://www.smartwatchpro.ru/mio-fuse-%D0%BF%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B1%D0%B7%D0%BE%D1%80-%D0%BB%D1%83%D1%87%D1%88%D0%B5%D0%B3%D0%BE-%D0%BF%D1%83%D0%BB%D1%8C%D1%81%D0%BE%D0%BC%D0%B5%D1%82%D1%80%D0%B0-%D0%B4/">
            Smartwatchpro.ru: Mio Fuse — полный обзор лучшего пульсометра для спортсменов 
          </a>
          <a href="http://4pda.ru/2015/03/02/205658/">
            4PDA: Обзор Mio Fuse: физкульт-ура
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/bh4urc7gcp0" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/uo80wVBX3AE" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->

        <p class="item-title item-second-name">
          Mio Fuse
        </p>

        <a href="#" class="button outline green large">
          Купить за 10 990 руб.
        </a>
      </div><!-- col -->
    
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Polar FT60M.png">
        </div>
        <p class="item-title">
          Polar FT60M
        </p>
        <p class="item-text">
          Пульсометр с фирменной программой Polar Star Training, которая подскажет вам интенсивность нагрузок во время тренировок и их количество.
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик пульса
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Внешний
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Точность измерения пульса
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              99% или ± 1 удар в минуту
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Установка целевой зоны пульса
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Среднее значение пульса за тренировку
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник тренировок
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка разных видов спорта
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Фитнес-трекер
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение уровня функциональной подготовки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Акселерометр
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Синхронизация данных
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Внешний USB-передатчик FlowLink® (приобретается отдельно)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              30м
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Рабочая температура
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              от -10°C до +50°C
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Монохромный, с подсветкой
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Сменные батареи CR 2032 (монитор) и CR 2025 (датчик пульса)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              до 1 года (при ежедневных тренировках в 1 час)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Универсальный
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#FFFFFF</span>
              <span class="color">#000000</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              н/д
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows XP/Vista/7/8, Mac OS X 10.5+ (Intel CPU)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Программа составления персональных кардиотренировок Polar Star Training Program
                </li>
                <li>
                  Возможность использования датчика бега Polar S1 Foot Pod и GPS датчика Polar G1
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Датчик пульса с передатчиком
                </li>
                <li>
                  Инструкция пользователя
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="http://www.polar.com/en/products/improve_fitness/fitness_crosstraining/FT60">
                http://www.polar.com/en/products/improve_fitness/fitness_crosstraining/FT60
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://www.polar.com/ru/products/improve_fitness/fitness_crosstraining/FT60">
            Polar.com: FT60 Пульсометр для фитнеса 
          </a>
          <a href="#">
            &nbsp;
          </a>
          <a href="#">
            &nbsp;
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/pU1DWEktYZU" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/BcfW7UiVgIY" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->

        <p class="item-title item-second-name">
          Polar FT60M
        </p>

        <a href="#" class="button outline green large">
          Купить за 10 890 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
    
    <!-- show table row ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-show-table">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 items-show-table-button">
        <a href="#cardio-table" class="reveal">
          Расскрыть таблицу характеристик, обзоры и видео
        </a>
        <a href="#cardio-table" class="unreveal">
          Скрыть таблицу характеристик, обзоры и видео
        </a>
      </div><!-- col -->
    </div><!-- show table row -->
    
    <!-- price ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-buy-buttons">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 8 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 11 490 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
  
  <!-- get all ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="get-all">
    <span class="button outline blue large"
       data-toggle="modal" data-target="#myModal">
      <img src="images/products/Mio Fuse.png">
      <span class="plus">+</span>
      <img src="images/products/Polar FT60M.png">
      <span class="buy-title">
        Тест на 2 дня с доставкой за 799 рублей
      </span>
    </span>
    
    <div class="about-delivery">
      или <a href="#rules">бесплатно</a> при покупке
    </div>
  </div>

</section>