<a name="everyday-trackers"></a>
<section class="item-screen">
  
  <!-- parallax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="parallax parallax-window" 
    data-parallax="scroll" 
    data-image-src="images/parallax/everyday-trackers.jpg">
    
    <div class="parallax-title">
      <img src="images/svg/heart.svg">
      <br />
      Созданные заботиться о твоем здоровье целый день.<br />
      Каждый день. #Здоровье2.0
    </div>
  </div><!-- parallax -->
  <div class="dark-layer"></div>

  <!-- text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="container">
    <div class="row item-text">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Фитнес-трекеры на каждый день
        </h2>

        <p>
          Учавствуешь ли ты в марафоне или совершаешь легкие пробежки в парке - контролируй свой прогресс без лишних усилий. Эти устройства были специльно созданы для ежеднемного мониторинга активности, ведения журнала и выдачи рекомендаций по тренировкам, а такие функции, как умный будильник и счетчик калорий, делают их незаменимыми помощниками здоровья на каждый день.
        </p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <a name="everyday-trackers-table"></a>
  <div class="container items">
    <div class="row">
      
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="item-photo">
          <img src="images/products/Jawbone UP24.png">
        </div>
        <p class="item-title">
          Jawbone UP24
        </p>
        <p class="item-text">
          Широкий диапазон температур от -20° до 45° С делает его пригодным для использования в любое время года.
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Шаги
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дистанция
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Подсчет ступенек
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Израсходованные калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Трекер активности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Контоль сна
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Умный будильник
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Личные цели
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник питания
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическая
              беспроводная синхронизация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Bluetooth® 4.0 LE
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Уведомления о входящих вызовах
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Брызгозащита
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик высоты
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Встроенный Li-Polymer аккумулятор
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              до 14 дней
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              S (140-155 мм)
              M (155-180 мм)
              L (180-200 мм)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#E25736</span>
              <span class="color">#E5436C</span>
              <span class="color">#242424</span>
              <span class="color">#D7332E</span>
              <span class="color">#C7CF59</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              от 19 до 23 грамм (в зависимости от размера)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              iOS, Android, Windows Phone
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows Vista/7/8, Mac OS X 10.6+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Интеграция с соцсетями
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Сигнал о бездействии Idle Alert
                </li>
                <li>
                  Персональные советы Smart Coach
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Зарядный USB-кабель
                </li>
                <li>
                  Краткое руководство
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="https://jawbone.com/store/buy/up24">
                https://jawbone.com/store/buy/up24
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://www.mobile-review.com/articles/2014/jawbone-up24.shtml">
            Mobile-review.com: Обзор спортивного браслета Jawbone UP24
          </a>
          <a href="http://www.3dnews.ru/811854">
            3Dnews.ru: Обзор фитнес-трекера Jawbone UP24: здоровье в твоих руках 
          </a>
          <a href="http://www.ferra.ru/ru/techlife/review/jawbone-up24-fitness-tracker/">
            Позаботься о здоровье. Обзор фитнес-трекера Jawbone UP24 
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/FfJEmT1mHIs" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/l3xk48GsPIg" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->
        
        <p class="item-title item-second-name">
          Jawbone UP24
        </p>

        <a href="#" class="button outline green large">
          Купить за 6 990 руб.
        </a>
      </div><!-- col -->
    
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="item-photo">
          <img src="images/products/Fitbit Charge.png">
        </div>
        <p class="item-title">
          Fitbit Charge
        </p>
        <p class="item-text">
          Широкий диапазон температур от -20° до 45° С делает его пригодным для использования в любое время года.
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Шаги
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дистанция
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Подсчет ступенек
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Израсходованные калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Трекер активности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Контоль сна
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Умный будильник
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Личные цели
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник питания
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическая
              беспроводная синхронизация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Bluetooth® 4.0 LE
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Уведомления о входящих вызовах
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Брызгозащита
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик высоты
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              OLED, с подсветкой
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Встроенный Li-Polymer аккумулятор
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              5-7 дней
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              S (140-170 мм)
              L (161-200 мм)
              XL (198-230 мм)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#4A717F</span>
              <span class="color">#2671B2</span>
              <span class="color">#BA2F65</span>
              <span class="color">#000000</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              21 грамм
              <br />
              &nbsp;
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              iOS, Android, Windows Phone
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows Vista/7/8, Mac OS X 10.6+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Интеграция с соцсетями
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Интеграция с умными весами Fitbit Aria
                </li>
                <li>
                  Индикация звонящего Caller ID
                </li>
                <li>
                  Система мотивации и персональных достижений
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Зарядное устройство
                </li>
                <li>
                  Bluetooth-адаптер для ПК
                </li>
                <li>
                  Руководство пользователя
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="https://www.fitbit.com/charge">
                https://www.fitbit.com/charge
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://www.mobile-review.com/articles/2014/fitbit-charge.shtml">
            Mobile-review.com: Обзор браслета-шагомера Fitbit Charge 
          </a>
          <a href="http://www.smartwatchpro.ru/fitbit-charge-%D0%BF%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B1%D0%B7%D0%BE%D1%80-%D1%84%D0%B8%D1%82%D0%BD%D0%B5%D1%81-%D0%B1%D1%80%D0%B0%D1%81%D0%BB%D0%B5%D1%82%D0%B0/]">
            Smartwatchpro.ru: Fitbit Charge — полный обзор фитнес-браслета 
          </a>
          <a href="#">&nbsp;</a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/OxYvW0ea0Uc" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/yCJ-cDHMPnc" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->
        
        <p class="item-title item-second-name">
          Fitbit Charge
        </p>

        <a href="#" class="button outline green large">
          Купить за 6 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="item-photo">
          <img src="images/products/Garmin Vivofit.png">
        </div>
        <p class="item-title">
          Garmin Vivofit
        </p>
        <p class="item-text">
          Широкий диапазон температур от -20° до 45° С делает его пригодным для использования в любое время года.
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Шаги
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дистанция
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Подсчет ступенек
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Израсходованные калории
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Бесплатное приложение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Трекер активности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Контоль сна
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Умный будильник
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Личные цели
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дневник питания
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическая
              беспроводная синхронизация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Bluetooth® 4.0 LE, ANT+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вибрация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Уведомления о входящих вызовах
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Водонепроницаемость
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              50м
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик высоты
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Черно-белый, без подсветки
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Часы
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Сменные батареи CR1632 (2 штуки)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Работа без подзарядки
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              более 1 года
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              S (120-175 мм)
              L (152-210 мм)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#007BB5</span>
              <span class="color">#272727</span>
              <span class="color">#B974D1</span>
              <span class="color">#919191</span>
              <span class="color">#81C3AC</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              25,5 грамм
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка мобильных устройств
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              iOS, Android
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Поддержка ПК
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Windows Vista/7/8, Mac OS X 10.6+
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Интеграция с соцсетями
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительные возможности
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  Онлайн-сервис [Garmin Connect http://connect.garmin.com] (анализ показателей и рекомендации)
                </li>
                <li>
                  Предупреждение о бездействии
                </li>
                <li>
                  Подключение внешнего пульсометра
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Комплектация
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul>
                <li>
                  2 ремешка - большой и маленький
                </li>
                <li>
                  USB ANT Stick 
                </li>
                <li>
                  Краткое руководство 
                </li>
              </ul>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="http://sites.garmin.com/en-US/vivo/">
                http://sites.garmin.com/en-US/vivo/
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="http://www.ferra.ru/ru/health/review/garmin-vivofit-fitness-braslet/">
            Ferra.ru: Фитнес-браслет, который не нужно заряжать 
          </a>
          <a href="http://www.smartwatchpro.ru/%D0%BF%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B1%D0%B7%D0%BE%D1%80-garmin-vivofit/">
            Smartwatchpro.ru: Полный обзор спортивного трекера Garmin Vivofit 
          </a>
          <a href="http://www.3dnews.ru/909269">
            3Dnews.ru: Обзор трекера физической активности Garmin Vivofit: год без забот 
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/cwHwNTciGnw" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/XHGq3ZJPnFc" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->
        
        <p class="item-title item-second-name">
          Garmin Vivofit
        </p>

        <a href="#" class="button outline green large">
          Купить за 6 990 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
    
    <!-- show table row ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-show-table">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 items-show-table-button">
        <a href="#everyday-trackers-table" class="reveal">
          Расскрыть таблицу характеристик, обзоры и видео
        </a>
        <a href="#everyday-trackers-table" class="unreveal">
          Скрыть таблицу характеристик, обзоры и видео
        </a>
      </div><!-- col -->
    </div><!-- show table row -->
    
    <!-- price ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-buy-buttons">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" class="button outline green large">
          Купить за 6 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" class="button outline green large">
          Купить за 7 450 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" class="button outline green large">
          Купить за 8 590 руб.
        </a>
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->
  
  <!-- get all ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="get-all">
    <span class="button outline blue large"
       data-toggle="modal" data-target="#myModal">
      <img src="images/products/Jawbone UP24.png">
      <span class="plus">+</span>
      <img src="images/products/Fitbit Charge.png">
      <span class="plus">+</span>
      <img src="images/products/Garmin Vivofit.png">
      <span class="buy-title">
        Тест на 2 дня с доставкой за 799 рублей
      </span>
    </span>
    
    <div class="about-delivery">
      или <a href="#rules">бесплатно</a> при покупке
    </div>
  </div>

</section>