<a name="smart-scales"></a>
<section class="item-screen">
  
  <!-- parallax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="parallax parallax-window" 
    data-parallax="scroll" 
    data-image-src="images/parallax/coctails.jpg">
    
    <div class="parallax-title">
      <img src="images/svg/scale.svg">
      <br />
      Измерять легкость с точностью до грамма - ваш личный помощник в правильном образе жизни #Легкость
    </div>
  </div><!-- parallax -->
  <div class="dark-layer"></div>

  <!-- text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="container">
    <div class="row item-text">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Умные часы
        </h2>

        <p>
          Те, кто всерьез озаботились проблемой здорового образа жизни, по праву оценят эти устройства, за точное измерение и интеллектуальный анализ показателей и последующие рекомендации, сколько калорий надо потреблять, чтобы сделать свое тело идеальным. Пользуйтесь весами всей семьей - устройство само распознает вас и синхронизирует полученную информацию с вашей учетной записью. В сочетании с [фитнес-трекером - ссылка на фитнес-трекеры для активных тренировок] от того же производителя, весы смогут также контролировать уровень вашей физической активности, посчитать сожженные за день калории и помогут нормализовать питание и сон. Умные весы - это серьезный шаг по направлению к красоте и здоровью.
        </p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <a name="scales-table"></a>
  <div class="container items">
    <div class="row">
      
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Withings WS-50 BK.png">
        </div>
        <p class="item-title">
          Withings WS-50 BK
        </p>
        <p class="item-text">
          Самые технологически продвинутые весы на рынке по количеству замеряемых параметров
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Точность измерения
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              до 100 грамм
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли воды
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли жировой ткани
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли мышечной ткани
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли костной ткани
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Расчет индекса массы тела
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик уровня CO2
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик температуры воздуха
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Пульсометр
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Память
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Количество пользователей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              8
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическое включение и выключение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей с подсветкой
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Материал
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Металл + стекло
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#FFFFFF</span>
              <span class="color">#000000</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              АА (4 штуки)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры (Ш/Г/В), см
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              32/32/2.3
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес, кг
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              2.3
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительно
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Интеграция с другими устройствами Withings, в частности с Withings Pulse O2
            </div>
          </div><!-- row -->
          <!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="http://www2.withings.com/us/en/products/smart-body-analyzer">
                http://www2.withings.com/us/en/products/smart-body-analyzer
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="www.ajvita.com/2013/obzor-withings-smart-body-analyzer-ws-50/">
            Ajvita.com: Withings Smart Body Analyzer WS-50, электронные весы  
          </a>
          <a href="http://mobile-review.com/articles/2014/withings-ws50.shtml">
            Mobile-review.com: Обзор умных весов Withings WS-50 
          </a>
          <a href="#">&nbsp;</a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/cQUsLYfsH2I" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/mcF-a-ovc9I" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->

        <p class="item-title item-second-name">
          Withings WS-50 BK
        </p>

        <a href="#" class="button outline green large">
          Купить за 11 100 руб.
        </a>
      </div><!-- col -->
    
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Fitbit Aria Wi-Fi Smart Scale BK.png">
        </div>
        <p class="item-title">
          Fitbit Aria Wi-Fi Smart Scale BK
        </p>
        <p class="item-text">
          Стильные и очень простые в настройке весы, с мотивирующей на снижение веса игровой системой
        </p>
        <div class="items-table">
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Точность измерения
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              до 100 грамм
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли воды
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли жировой ткани
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли мышечной ткани
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Определение доли костной ткани
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Расчет индекса массы тела
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик уровня CO2
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Датчик температуры воздуха
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="no">
                &#206;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Пульсометр
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Память
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Количество пользователей
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              8
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Автоматическое включение и выключение
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дисплей с подсветкой
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="yes">
                &#245;
              </span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Материал
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Стекло
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Цвета
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <span class="color">#FFFFFF</span>
              <span class="color">#000000</span>
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Питание
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              АА (4 штуки)
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Размеры (Ш/Г/В), см
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              31.2/31.2/3,3
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Вес, кг
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              1.94
            </div>
          </div><!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Дополнительно
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              Интеграция с другими устройствами Fitbit, в частности с [Fitbit Charge - ссылка] и [Fitbit Charge HR - ссылка]
            </div>
          </div><!-- row -->
          <!-- row -->
          <!-- row -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Ссылка на сайт производителя
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <a href="http://www.fitbit.com/aria">
                http://www.fitbit.com/aria
              </a>
            </div>
          </div><!-- row -->
        </div><!-- table -->

        <!-- video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="item-review">
          <div class="item-review-title">
            Обзор
          </div>
          <a href="www.ajvita.com/2013/obzor-fitbit-aria/">
            Ajvita.com: Fitbit Aria, электронные весы 
          </a>
          <a href="http://geektimes.ru/post/240976/">
            Geektimes.ru: Опыт использования умных весов Fitbit Aria 
          </a>
          <a href="http://www.smartwatchpro.ru/%D0%BE%D0%B1%D0%B7%D0%BE%D1%80-%D0%BD%D0%B0-%D1%83%D0%BC%D0%BD%D1%8B%D0%B5-wi-fi-%D0%B2%D0%B5%D1%81%D1%8B-fitbit-aria">
            Smartwatchpro.ru: Обзор на умные Wi-Fi весы Fitbit Aria! 
          </a>

          <div class="item-review-title">
            Видео обзор
          </div>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/1CX0XKpLdK8" frameborder="0" allowfullscreen></iframe>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/ErZx-FpFKSw" frameborder="0" allowfullscreen></iframe>
        </div><!-- row -->

        <p class="item-title item-second-name">
          Fitbit Aria Wi-Fi Smart Scale BK
        </p>

        <a href="#" class="button outline green large">
          Купить за 10 900 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
    
    <!-- show table row ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-show-table">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 items-show-table-button">
        <a href="#scales-table" class="reveal">
          Расскрыть таблицу характеристик, обзоры и видео
        </a>
        <a href="#scales-table" class="unreveal">
          Скрыть таблицу характеристик, обзоры и видео
        </a>
      </div><!-- col -->
    </div><!-- show table row -->
    
    <!-- price ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-buy-buttons">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 8 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 11 490 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
  
  <!-- get all ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="get-all">
    <span class="button outline blue large"
       data-toggle="modal" data-target="#myModal">
      <img src="images/products/Withings WS-50 BK.png">
      <span class="plus">+</span>
      <img src="images/products/Fitbit Aria Wi-Fi Smart Scale BK.png">
      <span class="buy-title">
        Тест на 2 дня с доставкой за 799 рублей
      </span>
    </span>
    
    <div class="about-delivery">
      или <a href="#rules">бесплатно</a> при покупке
    </div>
  </div>

</section>