<a name="sport-wathces"></a>
<section class="item-screen">
  
  <!-- parallax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="parallax parallax-window" 
    data-parallax="scroll" 
    data-image-src="images/parallax/bike.jpg">
    
    <div class="parallax-title">
      <img src="images/svg/bike.svg">
      <br />
      Живи в движении и оставайся в курсе событий #Эффективность
    </div>
  </div><!-- parallax -->
  <div class="dark-layer"></div>

  <!-- text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <a name="cardio-table"></a>
  <div class="container">
    <div class="row item-text">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Умные часы. Спортивные
        </h2>

        <p>
          TODO: text here...
        </p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="container items">
    <div class="row">
      
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Fitbit Surge.png">
        </div>
        <p class="item-title">
          Fitbit Surge
        </p>
        <p class="item-text">
          Популярная новинка и первые умные часы от Fitbit с датчиком GPS и фирменной технологией измерения пульса PurePulseтм
        </p>

        <a href="#" class="button outline green large">
          Предзаказ: 15 690 руб.
        </a>
      </div><!-- col -->
    
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="item-photo">
          <img src="images/products/Adidas miCoach Smart Run.png">
        </div>
        <p class="item-title">
          Adidas miCoach Smart Run
        </p>
        <p class="item-text">
          Технологичные спортивные часы от знаменитого спортивного бренда для фанатов фитнеса и профессиональных спортсменов
        </p>

        <a href="#" class="button outline green large">
          Купить за 14 490 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
    
    <!-- price ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-buy-buttons">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 8 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="button outline green large">
          Купить за 11 490 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
  
  <!-- get all ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="get-all">
    <span class="button outline blue large"
       data-toggle="modal" data-target="#myModal">
      <img src="images/products/Fitbit Surge.png">
      <span class="plus">+</span>
      <img src="images/products/Adidas miCoach Smart Run.png">
      <span class="buy-title">
        Тест на 2 дня с доставкой за 799 рублей
      </span>
    </span>
    
    <div class="about-delivery">
      или <a href="#rules">бесплатно</a> при покупке
    </div>
  </div>

</section>