<a name="universal-wathces"></a>
<section class="item-screen">
  
  <!-- parallax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="parallax parallax-window" 
    data-parallax="scroll" 
    data-image-src="images/parallax/everyday-trackers.jpg">
    
    <div class="parallax-title">
      <img src="images/svg/stopwatch.svg">
      <br />
      Легкость и интеллект в сочетании с безупречным дизайном
      #Точность
    </div>
  </div><!-- parallax -->
  <div class="dark-layer"></div>

  <!-- text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="container">
    <div class="row item-text">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Умные часы. Универсальные
        </h2>

        <p>
          Эти устройства - полноценные компьютеры в компактном корпусе, созданные для ношения на руке. Принимайте телефонные звонки, отвечайте на SMS и электронную почту, не вынимая смартфон из кармана. Наличие собственной операционной системы и магазина приложений позволят настроить любые параметры под себя, спортивный или классический дизайн сделает их стильным аксессуаром, а встроенные функции для фитнеса помогут владельцам всегда оставаться в форме.
        </p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <a name="everyday-trackers-table"></a>
  <div class="container items">
    <div class="row">
      
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="item-photo">
          <img src="images/products/Sony SmartWatch 3.png">
        </div>
        <p class="item-title">
          Sony SmartWatch 3
        </p>
        <p class="item-text">
          Третье поколение умных часов от Sony под управлением Android Wear - еще легче, еще технологичней
        </p>

        <a href="#" class="button outline green large">
          Купить за 10 590 руб.
        </a>
      </div><!-- col -->
    
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="item-photo">
          <img src="images/products/Samsung Gear 2.png">
        </div>
        <p class="item-title">
          Samsung Gear 2
        </p>
        <p class="item-text">
          Яркие цвета и широкие возможности кастомизации интерфейса - каждый сможет найти свой стиль с новинкой от Samsung
        </p>

        <a href="#" class="button outline green large">
          Купить за 8 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="item-photo">
          <img src="images/products/Pebble SmartWatch.png">
        </div>
        <p class="item-title">
          Pebble SmartWatch
        </p>
        <p class="item-text">
          Одни из самых популярных умных часов на рынке с возможностью интеграции со множеством устройств от iPhone и Android-смартфонов до экшн-камер GoPro
        </p>

        <a href="#" class="button outline green large">
          Купить за 7 690 руб.
        </a>
      </div><!-- col -->
    </div><!-- row -->
    
    <!-- price ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="row items-buy-buttons">
      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" class="button outline green large">
          Купить за 6 990 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" class="button outline green large">
          Купить за 7 450 руб.
        </a>
      </div><!-- col -->

      <!-- col -->
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" class="button outline green large">
          Купить за 8 590 руб.
        </a>
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->
  
  <!-- get all ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="get-all">
    <span class="button outline blue large"
       data-toggle="modal" data-target="#myModal">
      <img src="images/products/Sony SmartWatch 3.png">
      <span class="plus">+</span>
      <img src="images/products/Samsung Gear 2.png">
      <span class="plus">+</span>
      <img src="images/products/Pebble SmartWatch.png">
      <span class="buy-title">
        Тест на 2 дня с доставкой за 799 рублей
      </span>
    </span>
    
    <div class="about-delivery">
      или <a href="#rules">бесплатно</a> при покупке
    </div>
  </div>

</section>