<section class="first-screen">
  
  <!-- story -->
  <div class="parallax-window"
    data-parallax="scroll" 
    data-image-src="images/parallax/story.jpg">
  </div>

  <div class="container">
    <div class="row story">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="story-header">
          Выбирать — это просто!
        </div>
      </div>
      
      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="story-icon first">
          <!-- <img src="images/svg/1 + 2 + 3.svg"> -->
        </div>
        <p class="story-title">
          Возьмите любой<br />
          из наших наборов
        </p>
        <p class="story-text">
          В наборе 2-3 вещи
        </p>
      </div><!-- col -->

      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="story-icon second">
          <!-- <img src="images/svg/test.svg"> -->
        </div>
        <p class="story-title">
          Тестируйте дома
        </p>
        <p class="story-text">
          Тестируйте где удобно
          на улице, дома до 3х дней
        </p>
      </div><!-- col -->

      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="story-icon third">
          <!-- <img src="images/svg/done.svg"> -->
        </div>
        <p class="story-title">
          Выбирайте лучшее
        </p>
        <p class="story-text">
          Тест в подарок.
          Доставка бесплатная!
        </p>
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->
    
  <!-- products navigation -->
  <div class="container">
    <div class="row products-nav">
      
      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="images/first-screen/watch.png">
        <p class="products-nav-title">
          Умные часы
        </p>
        <p class="products-nav-links">
          <a href="#universal-wathces">
            Универсальные
          </a>
          <a href="#sport-wathces">
            Спортивные
          </a>
        </p>
      </div><!-- col -->

      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="images/first-screen/tracker.png">
        <p class="products-nav-title">
          Фитнес-трекеры 
        </p>
        <p class="products-nav-links">
          <a href="#everyday-trackers">
            На каждый день
          </a>
          <a href="#active-trackers">
            Для активных тренировок
          </a>
          <a href="#cardio">
            Кардиомониторы
          </a>
        </p>
      </div><!-- col -->

      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#smart-scales">
          <img src="images/first-screen/weight.png">
          <p class="products-nav-title">
            Умные весы
          </p>
        </a>
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->

</section>