<footer>
  
  <a name="about"></a>
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-about">
        
        <h2>
          О нас
        </h2>

        <p>
          Покупка нового гаджета из захватывающего процесса превратилась в утомительное занятие? Сложно выбрать среди множества вариантов?<br />
          Возьмите на тест один из наших потрясающих наборов и проверьте прямо у себя дома! Мы бесплатно привезем новое устройство, которое вы выберете к окончанию теста. Заплатите за тест только если ничего не покупаете.
        </p>

      </div>

    </div><!-- row -->
    
    <!-- row footer-brands -->
    <a name="brands"></a>
    <div class="row footer-brands">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
          Бренды
        </h2>
      </div>
      
      <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www.fitbit.com/">
          <img src="images/brands/fitbit.png">
        </a>
      </div>
       <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://getpebble.com/">
          <img src="images/brands/pebble.png">
        </a>
      </div>
       <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www.mioglobal.com/">
          <img src="images/brands/mio.png">
        </a>
      </div>

      <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://jawbone.com">
          <img src="images/brands/jawbone.png">
        </a>
      </div>
      <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www.samsung.com/">
          <img src="images/brands/samsung.png">
        </a>
      </div>
       <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www.sony.ru/">
          <img src="images/brands/sony.png">
        </a>
      </div>

      <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www.garmin.com/en-US">
          <img src="images/brands/garmin.png">
        </a>
      </div>
       <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www.polar.com/en">
          <img src="images/brands/polar.png">
        </a>
      </div>
       <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="http://www2.withings.com/us/en/">
          <img src="images/brands/withings.png">
        </a>
      </div>

    </div><!-- row footer-brands -->
    
    <!-- row footer-contacts -->
    <a name="contacts"></a>
    <div class="row footer-contacts">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>
          Контакты
        </h2>

        <p>
          <strong>8 (812) 92-164-92</strong> с 10 до 21 без выходных
          <br />
          г. Санкт-Петербург, ул. Профессора Попова д. 5 корп. 5
          <br />
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1996.6473510548558!2d30.32004600000001!3d59.97117300000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696315905cb982d%3A0x3fdcf01e2d8c925d!2zdWwuIFByb2Zlc3NvcmEgUG9wb3ZhLCA1LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQs9GB0LrQuNC5INCz0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDRjdC70LXQutGC0YDQvtGC0LXRhdC90LjRh9C10YHQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiwgU2Fua3QtUGV0ZXJidXJnLCAxOTcwMjI!5e0!3m2!1sen!2sru!4v1432642793964" width="400" height="300" frameborder="0" style="border:0"></iframe>
          <br />
          <a href="mailto:">company@imagn.ru</a>
        </p>
      </div>
    
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bank-info">
        <p>
          ООО «Хоум Тест Драйв»
          <br />
          ИНН 7801278297
          <br />
          ОГРН 1157847137480
        </p>
        
        <p>
          Юр. Адрес: 199004, Россия, г. Санкт-Петербург, Волховский переулок д. 4 лит. А, пом. 15Н
          <br />
          Факт. Адрес: 197022, Россия, г. Санкт-Петербург, ул. Профессора Попова д. 5 корп. 5
          <br />
          Телефон/факс: 8 (812) 92-164-92
        </p>

        <p>
          Банковские реквизиты:
          <br />
          Филиал «Санкт-Петербургский» АО «Альфа-Банк» г. Санкт-Петербург
          <br />
          р/счет 0702810632180001853
          <br />
          к/счет 30101810600000000786
        </p>
      </div>
    </div><!-- row footer-contacts -->

  </div><!-- container -->

</footer>