<header class="transparent">
  
  <div class="container">
    <div class="row">
      
      <!-- logo -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 header-logo">
        <div class="liga symbol">
          <!--  -->
        </div>
        <span class="logo">
          IMAGN.RU
        </span>
        <span class="sign">
          Выбирай. Пробуй. Легко.
        </span>
      </div><!-- logo -->

      <!-- phone -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 header-phone hidden-phone">
        <div class="liga phone-icon">
          &#124;
        </div>
        <span class="phone">
          8 (812) 92-164-92
        </span>
        <span class="schedule">
          c 10 до 21 без выходных
        </span>
      </div><!-- phone -->

      <!-- nav -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 header-nav">
        <a href="#rules">
          Правила
        </a>
        <a href="#about">
          О Нас
        </a>
        <a href="#contacts">
          Контакты
        </a>
      </div><!-- nav -->

      <!-- nav -->
      <!-- <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 header-auth">
        <a href="#" class="button blue">
          Войти
        </a>
      </div> --><!-- anv -->

    </div><!-- row -->
  </div><!-- container -->

</header>