<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          Тест на 2 дня с доставкой
        </h4>
      </div>

      <div class="modal-body">
        <p>
          ФИО
        </p>
        <input type="text" placeholder="Иванов Иван Иванович">
        <p>
          Телефон
        </p>
        <input type="text" placeholder="+7 (123) 45-67-890">
      </div><!-- modal-body -->

      <div class="modal-footer">
        <button type="button" class="button outline blue large">
          Отправить
        </button>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->