<a name="rules"></a>
<section class="rules">
  
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <h2>
          Правила
        </h2>

        <h3>
          Покупка
        </h3>

        <p>
          <ul>
            <li>
              Вы можете приобрести любое из устройств, представленных в каталоге, для этого вам нужно просто оставить заказ, сообщив нам свое имя и номер телефона, и наши операторы свяжуться с вами в течении 1 часа для уточнения деталей заказа и адреса доставки
            </li>
            <li>
              Доставка осуществляется в течении 2х дней с момента заказа при условии, что данная модель есть в наличии на складе
            </li>
            <li>
              Стоимость доставки составляет 300 рублей по Санкт-Петербургу и от 500 рублей по ЛО
            </li>
            <li>
              Доставка осуществляется ежедневно с 10 до 21, точное время доставки уточняется при заказе
            </li>
            <li>
              Вы можете вернуть любой из приобретенных товаров в течении 14 дней после покупки при условии сохранения товарного вида и фирменной упаковки, а также при наличии чека
            </li>
          </ul>
        </p>

        <h3>
          Тест-драйв
        </h3>

        <p>
          <ul>
            <li>
              Вы можете взять любой из представленных наборов домой для тестирования и сравнения
            </li>
            <li>
              Оставьте свое имя и номер телефона и мы перезвоним вам в течении часа для уточнения деталей и адреса доставки
            </li>
            <li>
              Мы предоставляем устройства в полностью рабочем состоянии, с заводскими настройками и с полным комплектом, включая стандартные аксессуары, зарядные устройства и пользовательские инструкции
            </li>
            <li>
              Сумма теста включает в себя само тестирование на указанный период, а также доставку и забор тестовых устройств
            </li>
            <li>
              При покупке одного из устройств, сумма теста возвращается в виде скидки на покупку нового
            </li>
            <li>
              При заказе на покупку не позднее чем за 4 часа до окончания тест-драйва, а также при условии наличия на складе, доставка нового устройства осуществляется бесплатно
            </li>
            <li>
              Вы можете приобрести понравившееся устройство после окончания тест-драйва, в этом случае скидка в размере стоимости тест-драйва сохраняется, а доставка оплачивается отдельно - 300 рублей по Санкт-Петербургу и от 500 рублей по ЛО
            </li>
            <li>
              Доставка осуществляется только на дом, по Санкт-Петербургу с 10 до 21 (точное время уточняется отдельно)
            </li>
            <li>
              Наш курьер заберет тестовые устройства ровно через указанное количество дней, в то же самое время, в которое осуществлялась доставка. Если вы хотите изменить время окончания теста, свяжитесь с нашими операторами по телефону 92-164-92
            </li>
            <li>
              Все сохраненные данные удаляются с устройства по окончании теста
            </li>
          </ul>
        </p>

      </div>

    </div><!-- row -->
  </div><!-- container -->

</section>