body {
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  // Helvetica, Arial, "Lucida Grande", sans-serif;
  
  font-family: 'Open Sans', sans-serif;
  
  margin-bottom: 70px;
}

// Links
a {
  color: #4A90E2;
  text-decoration: none !important;
}

// Forms
//
// Buttons
button, .button,
input[type="button"],
input[type="submit"] {
  border-radius: 30px;
  padding: 5px 10px;

  outline: none;

  // Colors
  &.blue {
    @include linear-gradient(#53A0FD, #3023AE);

    color: #FFF;
  }

  // Style
  &.outline {
    background: none;

    @mixin btn($color) {
      border: 1px solid $color;
      color: $color;

      &:hover {
        background: $color;
        color: #FFF;
      }
    }
    
    // Colors
    &.green {
      @include btn(#5E9F13);
    }

    &.blue {
      @include btn(#53A0FD);
    }
  }

  // Size
  &.large {
    padding: 10px 20px;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 30px;
  padding: 5px 10px;

  border: 1px solid #CCC;

  outline: none;
}