// Mixins

// Gradient (linear)
@mixin linear-gradient($from, $to) {
  background: linear-gradient(to bottom,  $from 0%, $to 100%);
}

// Flexbox
//
// Vertical align middle
@mixin vertical-align-middle() {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  
  align-items: center;
}

@mixin three-dots() {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

// Screen sizes
$phone: "max-width: 768px"; // Use: @media (#{$phone}) { ... }
$tablet: "min-width: 768px"; // Use: @media (#{$tablet}) { ... }
$desktop: "min-width: 992px"; // Use: @media (#{$desktop}) { ... }
$large-desktop: "min-width: 1200px"; // Use:  @media (#{$large-desktop}) { ... }