// Typography

// @mixin font-ultra-light() {
//   font-family: "HelveticaNeue-UltraLight";
// }

// @mixin font-thin() {
//   font-family: "HelveticaNeue-Thin";
// }

// @mixin font-light() {
//   font-family: "HelveticaNeue-Light";
// }

// @mixin font-regular() {
//   font-family: "HelveticaNeue-Regular";
// }

// @mixin font-medium() {
//   font-family: "HelveticaNeue-Medium";
// }

// @mixin font-bold() {
//   font-family: "HelveticaNeue-Bold";
// }

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,700,500italic,700italic,900,900italic&subset=cyrillic-ext,latin);

@mixin font-ultra-light() {
  // font-family: "HelveticaNeue-UltraLight";
  font-weight: 100;
}

@mixin font-thin() {
  // font-family: "HelveticaNeue-Thin";
  font-weight: 100;
}

@mixin font-light() {
  // font-family: "HelveticaNeue-Light";
  font-weight: 300;
}

@mixin font-regular() {
  // font-family: "HelveticaNeue-Regular";
}

@mixin font-medium() {
  // font-family: "HelveticaNeue-Medium";
  font-weight: 400;
}

@mixin font-bold() {
  // font-family: "HelveticaNeue-Bold";
  font-weight: 500;
}

// Webicons
@font-face {
  font-family: 'WebSymbolsLigaRegular';
  src: url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot');
  src: url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.woff') format('woff'), 
  url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.ttf') format('truetype'), 
  url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}
.liga {
  font-family: 'WebSymbolsLigaRegular';
}
