.first-screen {

  @media (#{$phone}) {
    margin-top: 0;
  }

  .parallax-window {
    height: 500px;

    @media (#{$phone}) {
      height: 0;
    }
  }

  .story {
    color: #FFF;

    text-align: center;

    padding: 20px 0;
    
    margin-top: -500px;
    position: relative;

    @media (#{$phone}) {
      background: url(../images/parallax/story.jpg);
      margin-top: 0px;
    }

    .story-header {
      @include font-medium();

      font-size: 36px;

      margin-top: 80px;
    }

    .story-icon {
      @include vertical-align-middle();
      
      width: 144px;
      height: 100px;

      margin-top: 20px;

      @mixin bg($url) {
        background: url($url);
        background-position: center center;
        background-repeat: no-repeat;
      }

      text-align: center;

      &.first {
        @include bg('../images/svg/1 + 2 + 3.svg');

        background-size: 144px 42px;
      }

      &.second {
        @include bg('../images/svg/test.svg');

        background-size: 29px 59px;
      }

      &.third {
        @include bg('../images/svg/done.svg');

        background-size: 56px 50px;
      }

      display: inline-block;
    }

    .story-title {
      @include font-thin();

      font-size: 20px;
    }

    .story-text {
      @include font-thin();

      font-size: 14px;

      margin-top: 20px;
    }
  } 

  .products-nav {
    margin: 50px 0;
    text-align: center;

    @media (#{$phone}) {
      // margin-top: -800px;
    }

    img {
      width: 185px;
    }

    .products-nav-title {
      font-size: 20px;

      margin-top: 30px;
    }

    .products-nav-links {
      font-size: 14px;
      line-height: 22px;

      a {
        display: block;
      }
    }
  }
}