footer {
  
  // About
  .footer-about {

    p {
      width: 85%;
    }
  }
  
  // Brands
  .footer-brands {
    
    .col {
      text-align: center;

      img {
        width: 60%;

      }

      a {
        @include font-thin();

        font-size: 12px;
        text-align: center;

        display: block;

        margin-top: 10px;
      }
    }
  }
  
  // Contacts
  .footer-contacts {
    
    strong {
      @include font-bold();
    }
    
    iframe {
      margin: 10px 0;

      width: 100%;
    }

    .bank-info {
      @include font-thin();

      font-size: 12px;

      margin-top: 30px;
    }
  }
}