header {
  @include vertical-align-middle();

  width: 100%;
  
  top: 0;
  left: 0;

  background: #FCFCFC;
  border-bottom: 1px solid rgba(0, 0, 0, .28);

  transition: 0.5s;

  @media (#{$phone}) {
    background: #FCFCFC;
    border-bottom: 1px solid rgba(0, 0, 0, .28);
  }

  @media (#{$desktop}) {
    position: fixed;
    z-index: 21;

    &.transparent {
      background: none;
      border-bottom: none;

      .logo, .sign, 
      .phone-icon, .phone, .schedule, 
      a {
        color: #FFF;
      }
    }
  }

  padding: 10px 0;

  .header-logo {

    span.logo {
      @include font-medium();

      font-size: 14px;
    }

    span.sign {
      @include font-thin();

      font-size: 13px;

      display: block;
    }
  }

  .header-phone {
    // padding-top: 5px;

    div.phone-icon {
      font-size: 18;

      position: absolute;
      margin-left: -20px;

      @media (#{$phone}) {
        display: none;
      }
    }

    span.phone {
      @include font-medium();
    }

    span.schedule {
      @include font-thin();

      display: inline-block;
      font-size: 12px;

      @media (#{$desktop}) {
        display: block;
      }
    }
  }

  .header-nav {

    a {
      @include font-light();
      
      font-size: 12px;

      display: inline-block;
      padding-top: 8px;

      margin: 0 5px;
    }
  }

  .header-auth {
    padding-top: 15px;
  }
}