.item-screen {

  @media (#{$phone}) {
    border-bottom: 1px solid #CCC;
  }

  // Title and text about item
  .item-text {
    padding: 0 50px;

    @media (#{$phone}) {
      padding: 0;
    }

    h2 {
      @include font-thin();

      font-size: 36px;

      margin-top: 40px;

      @media (#{$phone}) {
        text-align: center;
      }
    }

    p {
      @include font-light();

      font-size: 18px;
      line-height: 30px;

      margin-top: 20px;

      width: 85%;

      @media (#{$phone}) {
        display: none;
      }
    }
  }
  
  // Items
  .items {  
    text-align: center;

    margin-top: 90px;

    border: 1px solid #979797;
    border-radius: 10px;

    padding-bottom: 60px;

    @media (#{$phone}) {
      border: none;
      margin-top: 20px;
    }

    .white-line {
      background: #FFF;

      width: 90%;
      height: 20px;

      margin-top: -10px;
      margin-left: 5%;
    }
  
    // Item colum
    .col {
      margin-top: -90px;
    
      @media (#{$phone}) {
        margin-top: 100px;

        &:first-child {
          margin-top: 10px;
        }
      }

      .item-photo {
        background: #FFF;
        height: 140px;

        img {
          width: 185px;
        }
      }

      .item-title {
        @include font-thin();

        font-size: 24px;

        margin-top: 40px;
      }

      .item-second-name {
        display: none;

        .show {
          display: block;
        }
      }

      .item-text {
        @include font-thin();

        font-size: 14px;

        height: 70px;
      }
    }
    
    // Table
    .items-show-table {
      margin-top: 70px;

      @media (#{$phone}) {
        display: none;
      }

      .items-show-table-button {
        @include font-thin();
        
        color: #4A90E2;

        cursor: pointer;
        margin-top: -30px;
        font-size: 15px;

        a.reveal {
          display: block;
        }
        a.unreveal {
          display: none;
        }

        &.reveal {
          a.unreveal {
            display: block;
          }
          a.reveal {
            display: none;
          }
        }
      }
    }

    .items-table {
      display: none;

      margin-top: 40px;

      &.show {
        display: block;
      }

      .row {
        padding: 10px 0;

        &:nth-child(odd) {
          background: #EAF3FD;
        }

        // Left side
        .text-right {
          @include font-thin();

          font-size: 12px;
        }

        // Right side
        .text-left {
          @include font-thin();

          font-size: 12px;

          min-height: 22px;
          
          @mixin mark() {
            @extend .liga;

            font-size: 24px;

            display: inline-block;

            margin-top: -7px;
            margin-bottom: -14px;
          }

          .yes {
            @include mark();

            color: #417505;
          }

          .no {
            @include mark();

            color: #E46D7B;
          }

          ul {

            li {
              margin-left: -20px;
            }
          }

          a {
            @include three-dots();
          }

          .color {
            $size: 20px;
            
            width: $size;
            height: $size;

            display: inline-block;
            
            border-radius: 3px;
          }
        }
      }
    }

    .item-review {
      display: none;

      &.show {
        display: block;
      }

      .item-review-title {
        @include font-medium();

        font-size: 14px;

        margin-top: 30px;
        margin-bottom: 10px;
      }

      a {
        @include font-thin();
        @include three-dots();
    
        font-size: 12px;

        display: inline-block;

        padding: 0 40px;
      }
    }
    
    // Buy buttons
    .items-buy-buttons {
      margin-top: 30px;
      display: none;
    }

    .button {
      @include font-medium();

      margin-top: 20px;
      display: inline-block;
    }
  }

  // Test all items
  .get-all {
    text-align: center;
    
    margin-top: -10px;
    margin-bottom: 70px;

    .button {
      background: #FFF !important;
      color: #53A0FD !important;

      padding: 15px 30px;

      @media (#{$phone}) {
        padding: 10px 15px;
      }

      img {
        width: 30px;

        @media (#{$phone}) {
          width: 20px;
        }
      }

      span.plus {

        @media (#{$phone}) {
          font-size: 10px;
        }
      }

      .buy-title {
        display: inline-block;
        margin-left: 7px;

        @media (#{$phone}) {
          font-size: 12px;
        }
      }
    }

    .about-delivery {
      @include font-thin();

      font-size: 13px;

      margin-top: 20px;
    }
  }
}