$parallax-height: 337px;

.parallax {
  @include vertical-align-middle();
  
  position: relative;

  left: 0;

  width: 100%;
  height: 337px;

  @media (#{$phone}) {
    display: none;
  }

  .parallax-title {
    @include font-ultra-light();

    position: relative;
    z-index: 3;

    font-size: 40px;

    text-align: center;
    color: #FFF;

    width: 80%;
    margin-left: 10%;

    @media (#{$phone}) {
      font-size: 26px;
    }

    img {
      display: inline-block;
      margin-bottom: 20px;

      @media (#{$phone}) {
        display: none;
      }
    }
  }
}

.dark-layer {
  width: 100%;
  height: $parallax-height;

  margin-top: $parallax-height * -1;

  background: rgba(0, 0, 0, .3);

  position: relative;
  left: 0;

  @media (#{$phone}) {
    display: none;
  }
}

.parallax-mirror {
  @media (#{$phone}) {
    display: none;
  }
}

.parallax-slider {
  @media (#{$phone}) {
    display: none;
  }
}